/* src/components/Layout/Layout.css */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.layout-main {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}
